body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s;
  height: 0;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-header {
  background-color: #dda50b;
  padding: 20px;
}

.logo img {
  width: 100px;
  /* Sesuaikan ukuran logo */
}

.clock {
  font-size: 23px;
  color: #415fa1;
  align-items: center;
  padding: 20px 40px;
  border-radius: 10px;
  animation: changeColor 5s linear infinite;
}

@keyframes changeColor {

  0%,
  100% {
    background-color: #78a4c9;
    color: #009675;
  }

  25% {
    background-color: #fa9c97;
    color: #000ecf;
  }

  50% {
    background-color: #87d38f;
    color: #695a00;
  }

  75% {
    background-color: #ecdf86;
    color: #333;
  }
}

.moving-text {
  position: relative;
  overflow: visible;
}

.moving-text h1 {
  position: relative;
  font-size: 23px;
  justify-content: center;
  align-items: center;
  animation: moveText 5s linear infinite;
}

@keyframes moveText {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu li {
  float: left;
  margin-right: 10px;
}

.menu li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li.dropdown {
  position: relative;
}

.menu li.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu li {
  float: none;
  margin-bottom: 5px;
}

.dropdown-menu li a {
  padding: 12px 16px;
  color: #333;
  text-decoration: none;
  display: block;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .menu li:not(.dropdown) {
    display: none;
  }

  .menu li.menu {
    flex-direction: column;
  }

  .menu li.dropdown {
    display: block;
    float: none;
    position: static;
  }

  .menu li.dropdown:hover .dropdown-menu {
    display: none;
  }

  .menu li.dropdown .dropdown-menu {
    position: static;
    display: none;
    background-color: none;
    padding: 0;
  }

  .menu li.dropdown .dropdown-menu li {
    display: block;
    margin-bottom: 10px;
  }

  .menu li.dropdown .dropdown-menu li a {
    padding: 12px 16px;
    color: #333;
    text-decoration: none;
    display: block;
    text-align: left;
  }
}

body.siang {
  display: flex;
  background-color: white;
  color: black;
  justify-content: right;
}

body.malam {
  display: flex;
  background-color: black;
  color: white;
  justify-content: right;
}

.toggle {
  width: 60px;
  height: 30px;
  background-color: #d8d8d8;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  margin: 20px;
}

.toggle-ball {
  width: 30px;
  height: 30px;
  background-color: #00308a;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: left 0.6s;
}

body.malam .toggle-ball {
  left: 31px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery {
  display: flex;
  margin-bottom: 10px;
  background-color: rgb(204, 220, 238);
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-item {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-out;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item h3 {
  margin-top: 10px;
  font-size: 16px;
  transition: transform 0.3s ease-out;
}

.gallery-item:hover h3 {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .gallery-item {
    flex-basis: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .gallery-item {
    flex-basis: 100%;
  }
}

.popup {
  background-color: #fff;
  font-family: 'Monaco', sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  top: 0;
  position: absolute;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 50px;
  transform: translate(-50%, -50%);
  animation: slide 5s infinite alternate;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(20px);
  }
}

button {
  padding: 10px 20px;
  font-size: 17px;
  background-color: #0078D7;
  color: #000000;
  border: 1px solid rgb(0, 55, 175);
  border-radius: 50px;
  cursor: pointer;
}

button:hover {
  background-color: #005FAB;
}

.container {
  display: flex;
  background-color: #d6e8f0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.image-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: translateY(-10px);
}

.tiktokgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;
  padding: 5px;
}

.tiktokgrid blockquote {
  width: 20vw;
  height: 50vw;
  object-fit: cover;
  border: 2px dashed black;
}

.calc-math {
  display: contents;
  background-color: #fff;
  margin: 5px;
  max-width: 1000px;
  align-items: center;
}

.calc-math img {
  max-width: 100px;
  max-height: 100px;
}

.mathematics {
  display: flex;
  flex-wrap: wrap;
  background-image: url(https://github.blog/wp-content/uploads/2020/12/102393310-07478b80-3f8d-11eb-84eb-392d555ebd29.png?resize=1200%2C630);
  max-width: 1000px;
  /* Sesuaikan dengan lebar maksimum yang diinginkan */
  margin: 10px;
  align-items: center;
  height: 70vh;
  border-top: 3px solid #00cddb;
}

.rumus-container {
  flex: 0 0 50%;
  /* Membagi elemen menjadi dua kolom sejajar */
  overflow: hidden;
  margin: 5px;
  box-sizing: border-box;
  padding: 5px;
  border: 2px solid #7554eb;
}

.rumus-container img {
  display: block;
  color: white;
  width: 100%;
  height: 100px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.rumus-container:hover img {
  transform: scale(1.1);
}

.title-font {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title-font h1 {
  display: flex;
  text-align: center;
  padding-left: 5px;
  font-family: 'JustColesCursive', sans-serif;
  font-size: 25px;
}

.slider-container {
  display: flex;
  font-family: 'JustColesCursive', sans-serif;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

label {
  font-weight: bold;
  font-size: 20px;
}

input[type="range"] {
  width: 80%;
  margin: 5px 0;
}

.color-box {
  position: absolut width: 300px;
  height: 250px;
  top: 2445px;
  left: 10px;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  border: 3px solid black;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 100%;
  padding-bottom: 14px;
}

.center-container h1 {
  display: flex;
  font-family: 'Soreaki', sans-serif;
  justify-content: center;
  font-size: 25px;
  padding-bottom: 3px;
}

.google-play-button {
  display: block;
  background-color: #cacaca;
  color: #fff;
  padding: 10px 20px;
  border: 1px dashed blue;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.google-play-button img {
  width: 180px;
  height: auto;
  border-radius: 50px;
  cursor: pointer;
}

.download-undawn {
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  justify-content: center;
}

.download-undawn a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: #0078D7;
  color: #000000;
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
}

.download-undawn a:hover {
  background-color: #005fab;
}

.download-undawn i {
  font-size: 50px;
  padding-right: 15px;
}

.embed-responsive {
  position: relative;
  width: auto;
  padding-bottom: 100%;
  margin-top: 2px;
  margin-bottom: 23px;
}

.embed-responsive a {
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c5d1dd;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
}

.download-button:hover {
  background-color: #818488;
}

.box-planet {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: changeBackground 6s infinite;
}

@keyframes changeBackground {
  0% {
    background-color: rgb(211, 123, 123);
  }

  10% {
    background-color: rgb(85, 230, 230);
  }

  20% {
    background-color: rgb(151, 158, 214);
  }

  30% {
    background-color: rgb(223, 214, 136);
  }

  40% {
    background-color: rgb(202, 221, 149);
  }

  50% {
    background-color: rgb(235, 235, 198);
  }

  60% {
    background-color: rgb(209, 174, 238);
  }

  70% {
    background-color: rgb(108, 189, 164);
  }

  80% {
    background-color: rgb(201, 231, 144);
  }

  90% {
    background-color: rgb(166, 155, 226);
  }

  100% {
    background-color: rgb(140, 183, 240);
  }
}

.container {
  position: relative;
}

.photo {
  width: 400px;
  height: 400px;
  background-image: url('https://github.githubassets.com/images/modules/site/home-campaign/astrocat.png');
  /* Ganti dengan URL foto yang diinginkan */
  background-size: cover;
  border-radius: 0px;
  position: relative top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: movePhoto 10s infinite alternate;
  /* Animasi bergerak selama 5 detik */
}

@keyframes movePhoto {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.tata-surya {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  background-color: #222;
}

.sun {
  width: 10%;
  padding-top: 10%;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 1450px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotateSun 10s linear infinite;
}


.planet {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 50% 200px;
}

.planet.mercury {
  background-color: #b6b6b6;
  animation-name: rotateMercury;
  animation-duration: 2s;
}

.planet.venus {
  background-color: #ffaa00;
  animation-name: rotateVenus;
  animation-duration: 4s;
}

.planet.earth {
  background-color: #2196f3;
  animation-name: rotateEarth;
  animation-duration: 6s;
}

.planet.mars {
  background-color: #ff5733;
  animation-name: rotateMars;
  animation-duration: 8s;
}

/* Keyframes untuk rotasi setiap planet */
@keyframes rotateSun {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateMercury {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateVenus {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateEarth {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateMars {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.form-color {
  margin-top: 16px;
  margin-bottom: 2px;
  background-color: #464849;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #d6d4d4;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #00cddb;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #bebbbb;
  padding: 20px;
  text-align: center;
}

.caption a {
  font-size: 11px;
  justify-content: right;
  align-items: center;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #3d3535;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .social-icons a {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .social-icons a {
    font-size: 18px;
  }
}