body {
    margin: 10px;
    padding: 0;
    background-color: #333;
    height: auto;
}

.style-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    width: 200px;
    background-color: white;
    border: 1px solid blue;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    width: 50px;
    height: 30px;
    font-size: 16px;
    color: blue;
    border: 1px solid blue;
    border-radius: 11px;
    padding: 4px;
    cursor: pointer;
}